---

---

<section class="relative min-h-[870px] flex items-center overflow-hidden bg-surface">
  <div class="max-w-7xl mx-auto px-8 grid grid-cols-1 lg:grid-cols-12 gap-12 items-center">
    <div class="lg:col-span-7 z-10">
        <h1 class="font-headline text-5xl lg:text-7xl font-extrabold text-primary leading-[1.1] tracking-tighter mb-6">
             Transformación   
            <span class="text-secondary">Tecnológica</span>
            y
            <span class="text-secondary">Gestión Estratégica </span>
            para la Excelencia Operativa
        </h1>
        <p class="text-xl text-on-surface-variant max-w-xl mb-10 leading-relaxed">
        Consultoría estratégica especializada en la transformación de procesos críticos para alcanzar los más altos estándares internacionales de seguridad y eficiencia operativa.
        </p>
        <div class="flex flex-col sm:flex-row gap-4">
            <a href="/servicios" class="primary-gradient text-on-primary px-8 py-4 rounded-xl font-headline font-bold text-lg hover:scale-[1.02] active:scale-95 transition-all shadow-lg flex items-center justify-center gap-2"
            >
                Descubre Nuestros Servicios
                <span><i class="fa-solid fa-arrow-right"></i></span>
            </a>
        </div>
    </div>
    <div class="lg:col-span-5 relative">
      <div
        class="aspect-square rounded-[3rem] overflow-hidden ambient-shadow rotate-3 transform hover:rotate-0 transition-transform duration-700"
      >
        <img
          alt="Clinical Quality Management"
          class="w-full h-full object-cover"
          data-alt="Modern high-tech hospital corridor with soft clinical lighting, clean reflective floors, and professional medical staff walking in the distance"
          src="/img/hero_desktop_image.jpg"
        />
      </div>
    </div>
  </div>
</section>