@import "tailwindcss";

@theme {
    --color-PrussianBlue: #1D3557;
    --color-SoftTurquoise: #A8DADC;
}

body{
    background-color: #F8F9FA;
}

h1, h2{
    font-family: 'Montserrat';
}

h3, p{
    font-family: 'Segoe UI', sans-serif;
}