@import "tailwindcss";

@theme {
    --color-PrussianBlue: #1D3557;
    --color-SoftTurquoise: #A8DADC;
    --color-GunmetalGray: #343A40;
    --color-VividSkyBlue: #00B4FF;
    --color-LightSkyBlue: #6CD4FF ;


    --animate-titleIn: titleIn 1s ease-out forwards;
    @keyframes titleIn {
        0% { opacity: 0; transform: translateY(-30px); }
        100% { opacity: 1; transform: translateY(0); }
    }
    --animate-menuIn: menuIn 0.6s ease-in-out forwards;
    @keyframes menuIn {
        0% { opacity: 0; transform: translateY(-30px); }
        100% { opacity: 1; transform: translateY(0); }
    }

    --animate-textIn: textIn 0.8s ease-out forwards;
    @keyframes textIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
    }

    --animate-buttonIn: buttonIn 0.8s ease-out forwards;
    @keyframes buttonIn {
        0% { opacity: 0; transform: scale(0.9); }
        100% { opacity: 1; transform: scale(1); }
    }

  --animate-bounceIcon: bounceIcon 0.5s ease-in-out;
    @keyframes bounceIcon {
        0%, 100% {
        transform: translateY(0);
        }
        50% {
        transform: translateY(-5px);
        }
    }

  --animate-fill: fillButton 1s ease forwards;
  @keyframes fillButton {
    0% {
      background-color:transparent;
    }
    100% {
      background-color: var(--color-VividSkyBlue);
    }
  }

  --animate-underlineSlide: underlineSlide 0.3s ease forwards;
    @keyframes underlineSlide {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

  --animate-shake: shake 0.5s ease-in-out forwards;
  @keyframes shake {
      0%, 100% { transform: translateY(0); }
      20% { transform: translateY(-3px); }
      40% { transform: translateY(3px); }
      60% { transform: translateY(-2px); }
      80% { transform: translateY(2px); }
  }
}

body{
    background-color: #F8F9FA;
}

h1, h2{
    font-family: 'Montserrat';
}

h3, p{
    font-family: 'Segoe UI', sans-serif;
}

/* Estilo base para el subrayado (span dentro de li) */
#nav-links ul li span {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5px;
  background-color: #2563eb; /* Tailwind blue-600 */
  width: 0;
  pointer-events: none;
}

/* Cuando el enlace (a) se hace hover, animamos el span */
#nav-links ul li:hover span {
  animation: var(--animate-underlineSlide);
}

.currentPage{
    background-color: var(--color-sky-200);
    border-radius: 5px;
    font-weight: 700;
}

@media (max-width: 349px) {
  header p {
    white-space: nowrap; /* evita que el texto se quiebre en varias líneas */
    font-size: 16px; /* mantén el tamaño, o pon un mínimo */
    overflow-x: auto; /* permite scroll horizontal si el texto es muy largo */
  }
}