---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Service from "../components/Service.astro";
import Activity from "../components/Activity.astro";

const pageTitle = "Cytec2R";
---
<BaseLayout pageTitle={pageTitle}>
	<section class="mb-20">
		<div class="my-10">
			<h1 class="text-5xl text-center text-PrussianBlue font-bold">Nuestros Servicios</h1>
			<h2 class="text-xl text-center">Soluciones especializadas para tu organización</h2>
		</div>
		<div class="flex justify-center gap-5 flex-wrap">
			<Service name="Seguridad del Paciente" icon="fa-solid fa-shield"/>
			<Service name="Gestión de la Calidad" icon="fa-solid fa-star"/>
			<Service name="Docencia" icon="fa-solid fa-chalkboard-user"/>
			<Service name="Tecnología de Información y Comunicaciones" icon="fa-solid fa-globe"/>
			<Service name="Consultorías" icon="fa-solid fa-circle-info"/>
		</div>
	</section>
	
	<section>
		<div class="my-10">
			<h1 class="text-6xl text-center text-PrussianBlue font-bold">Sobre Nosotros</h1>
			<h2 class="text-2xl text-center">Nuestro equipo, tu aliado</h2>
		</div>
		<div>
			<img src="/src/img/nosotros.jpg" alt="empresarios" class="">
			<div >
				<p class="text-justify text-lg max-w-lg">
					En CYTEC2R, somos una consultora tecnológica especializada en la ejecución de proyectos con 
					máxima eficacia y precisión. Nos enfocamos en combinar experiencia, innovación y una red global 
					de profesionales para ofrecer soluciones tecnológicas alineadas con los desafíos del presente y 
					preparadas para el futuro.
				</p>
				<button class="bg-sky-300 border-2 border-sky-200 text-sky-950 p-1 rounded mt-5 cursor-pointer font-bold">Conócenos más</button>
			</div>
		</div>
	</section>
	<section class="mt-20 w-full">
		<div class="mb-5">
			<h1 class="text-6xl text-center text-PrussianBlue font-bold">Actividades</h1>
			<h2 class="text-2xl text-center">Impactando Positivamente</h2>
		</div>
		<div class="flex flex-wrap justify-around">
			<Activity title="Diplomado en Gestión y Atención Perioperatoria" date="7 de enero de 2020">
				<img src="/src/img/evento1.jpg" alt="event1" slot="img" class="object-cover w-full max-h-[290px]">
				<p slot="description">
					Como parte de nuestro compromiso con el desarrollo profesional en el sector salud, 
					CYTEC2R participó en la organización y ejecución del primer Diplomado en Gestión y 
					Atención Perioperatoria, dirigido a enfermeras del Hospital Brisas, en colaboración 
					con la Universidad de Panamá.
				</p>
			</Activity>
			<Activity title="Capacitación sobre Vigilancia pasiva y activa de la seguridad del paciente" date="1 de julio de 2025">
				<img src="/src/img/evento2.jpg" alt="event2" slot="img" class="object-cover">
				<p slot="description">
					capacitación sobre vigilancia activa y pasiva de la seguridad del paciente es fundamental para garantizar la seguridad y 
					calidad de la atención en salud. La vigilancia activa implica una búsqueda proactiva de eventos adversos, mientras que la 
					vigilancia pasiva se basa en la notificación espontánea de estos eventos. Esta capacitación promueve la sensibilización 
					sobre la importancia de identificar las fortalezas y fallas del sistema para el desarrollo de culturas de mejora continua. 
					En CYTEC2R estamos listos para acompañarte en este proceso.
				</p>
			</Activity>
		</div>
	</section>
</BaseLayout>
