---
---
<nav class="bg-PrussianBlue flex justify-around text-sm text-gray-300 items-center">
    <div class="flex items-baseline gap-3.5 ">
        <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
        <p class="text-xs">info@cytec2r.com</p>
    </div>
    <div class="flex items-baseline gap-3.5 text-lg">
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
        <a href="https://uk.linkedin.com/"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
    </div>
</nav>