---
---
<footer class="bg-gunmetal-gray flex flex-col items-center text-white p-5">
    <img src="/img/logo.png" alt="logo" class="max-w-[300px] bg-white rounded">
    <div class="mt-8 mb-8 w-[200px] flex gap-3">
        <div>
            <i class="fa-solid fa-location-dot"></i>
        </div>
        <div>
            <h3 class="text-base font-bold"> Ubicación</h3>
            <p class="text-xs">Praderas del Rocío</p>
            <p class="text-xs">Villa Zaita</p>
            <p class="text-xs">Ciudad de Panamá, Panamá</p>
        </div>
    </div>
    <div class="mt-8 mb-8 w-[200px] flex gap-3">
        <div>
            <i class="fa-solid fa-envelope" ></i>
        </div>
        <div>
            <h3 class="text-base font-bold">Correos Electrónicos</h3>
            <p class="text-xs">hazelramos@cytec2r.com</p>
            <p class="text-xs">carlosrodríguez@cytec2r.com</p>
        </div>
    </div>
    <div>
        <a href="https://www.linkedin.com/company/cytec2r/"><i class="fa-brands fa-linkedin text-3xl mr-3"></i></a>
        <a href="https://www.instagram.com/cytec2r?igsh=MWxjMzExMjZhbGlweQ=="><i class="fa-brands fa-instagram text-3xl"></i></a>
    </div>
</footer>