---
import '../styles/global.css';
import Navigation from './Navigation.astro';

const { url } = Astro;
---
<header class={`flex flex-col overflow-visible w-full`}>
    <div class="flex items-center justify-between w-full bg-white p-2 px-5">
        <div>
            <h1 class="text-primary-blue font-semibold">CYTEC2R</h1>
        </div>
        <div class="flex items-center gap-5">
            <p class="sm:hidden bg-primary-blue text-neutral-white font-medium text-sm p-1 rounded-md">Contacto</p>
            <span class="sm:hidden"><i id="burguer-menu" class="fa-solid fa-bars text-md cursor-pointer"></i></span>
        </div>
        <Navigation />
    </div>
</header>   