---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro'
---
<header class={`flex flex-col overflow-visible w-full`}>
    <div class="flex items-center justify-between w-full bg-white p-2 px-5">
        <div>
            <img src="/img/logo.png" alt="logo" class="w-[170px]">
        </div>
        <div class="flex items-center gap-5">
            <a href="/contacto/" class="sm:hidden bg-primary-blue text-neutral-white font-medium text-sm p-1 rounded-md">Contacto</a>
            <span class="sm:hidden"><i id="burguer-menu" class="fa-solid fa-bars text-md cursor-pointer"></i></span>
        </div>
        <Navigation />
    </div>
</header>   