---
import Contact from './Contact.astro';
import '../styles/global.css';
import Hero from './Hero.astro';
import Navigation from './Navigation.astro';

const { url } = Astro;
const isHome = url.pathname === '/';
---
<header class={`flex flex-col overflow-visible w-full ${ isHome ? 'h-[700px]' : 'h-auto' } max-h-screen ${ isHome ? 'lg:min-h-screen' : 'lg:h-auto'}`}>
    <Contact />
    <div class="flex items-center justify-around w-full bg-white p-2">
        <img src="/src/img/logo.png" alt="logo" class="w-[160px]">
        <span class="sm:hidden"><i id="burguer-menu" class="fa-solid fa-bars text-3xl"></i></span>
        <Navigation />
    </div>

    {isHome &&(<Hero />)}
</header> 