---
import Contact from './Contact.astro';
import '../styles/global.css';
---
<header class="flex flex-col w-screen">
    <Contact />
    <div class="flex items-center justify-around w-full bg-white p-2">
        <img src="/src/img/logo.png" alt="logo" class="w-[160px]">
        <i class="fa-solid fa-bars text-3xl"></i>
    </div>
</header>