---
---
<section id="hero-container" class="flex flex-grow bg-[url('/src/img/banner.png')] bg-cover bg-center text-left">
    <div class="flex flex-col justify-around text-white w-3/4 p-5 lg:w-1/2 lg:ml-5">
        <header>
            <h1 class="text-5xl font-black sm:text-6xl">Eleva tu excelencia operativa</h1>
            <p class="text-sm text-justify mt-5 w-1/2 leading-relaxed sm:w-3/5 
                    sm:text-base 
                    lg:w-3/4 lg:leading-loose">
                CYTEC2R es una consultora en estrategias gerenciales y tecnológica 
                que coordina talento distribuido y herramientas colaborativas para 
                ejecutar proyectos con eficacia y precisión
            </p>
        </header>
        <button 
        class=" border-2 border-VividSkyBlue text-xs text-LlightSkyBlue w-[150px] font-medium p-1 mt-8 rounded-xl cursor-pointer
                sm:text-base sm:w-[250px]
                lg:py-1 lg:px-3 lg:rounded-full">
            Explora nuestras soluciones
        </button>
    </div>
</section>