---
import NavigationItem from "../components/NavigationItem.astro";
---
<nav id="nav-links" class="hidden absolute top-21 left-0 m-0 z-50 text-center bg-primary-fixed shadow-2xl shadow-gunmetal-gray w-full 
                           sm:static sm:flex sm:justify-around sm:w-auto sm:bg-transparent sm:shadow-none">
    <ul class="p-5 animate-menuIn [&>li>a]:block
                sm:flex sm:p-0 sm:animate-none 
                sm:[&>li]:mx-3">
        <NavigationItem name="Inicio" moveTo="/" />
        <NavigationItem name="Servicios" moveTo="/servicios/"/>
        <NavigationItem name="Nosotros" moveTo="/nosotros/"/>
        <NavigationItem name="Contacto" moveTo="/contacto/"/>
    </ul>
</nav>