---
const {title} = Astro.props;
---
<div class="text-center mx-5 my-6 p-2 border-b border-b-sky-700 md:p-4 lg:pb-6 lg:mb-15">
    <h1 class="text-5xl text-PrussianBlue font-bold leading-12 md:text-6xl lg:text-7xl">{title}</h1>
</div>