---
const {name, icon} = Astro.props;
---
<div class="size-50 bg-white mb-3 drop-shadow-2xl rounded p-4 text-center">
    <div>
        <i class={`${icon} aspect-square bg-SoftTurquoise p-5 text-4xl rounded-full`}></i>
    </div>
    <h3 class="text- mt-4 font-medium italic">{name}</h3>
</div>