---
const {name, icon} = Astro.props;
---
<div class="size-45 bg-white mb-3 drop-shadow-lg rounded p-4 text-center md:size-60">
    <div>
        <i class={`${icon} aspect-square bg-SoftTurquoise p-5 text-4xl rounded-full md:text-5xl`}></i>
    </div>
    <h3 class="mt-4 font-medium italic md:text-lg">{name}</h3>
</div>