---
const {title} = Astro.props;
---

<div class="mx-5 mt-5 mb-15"> 
    <h3 class="items-start font-medium leading-relaxed text-PrussianBlue md:text-lg lg:text-xl">{title}</h3>
    <hr>
    <div class="mt-3 text-sm text-justify leading-relaxed">
        <slot />
    </div>
</div>