---
const {name, icon} = Astro.props;
---
<div class="flex flex-col gap-5 w-1/2 h-auto bg-white mb-3 drop-shadow-lg rounded p-4 text-center sm:w-[200px] lg:max-w-[280px]">
    <div>
        <i class={`${icon} bg-SoftTurquoise p-5 text-4xl rounded-full md:text-5xl`}></i>
    </div>
    <h3 class="items-start font-medium italic md:text-lg lg:text-xl">{name}</h3>
</div>