---
const { title } = Astro.props;
---

<section class="w-full flex justify-center items-center">
  <div class="max-w-[85%]">
    <h3
      class="items-start font-medium leading-relaxed text-primary sm:text-lg lg:text-3xl"
    >
      {title}
    </h3>
    <hr class="mb-7" />
    <div class="mt-3 text-sm text-justify leading-relaxed lg:text-base">
      <slot />
    </div>
  </div>
</section>
